language: node_js
node_js:
  - "20.10.0"
dist: focal
services:
      - mysql
env:
  - CXX=g++-4.8
before_install: npm install -g grunt-cli
install: npm install
before_script:
  - mysql -e "create database IF NOT EXISTS test;" -uroot
  - npm install -g grunt-cli  - npm install -g bower
  - bower install client/bower.json
